*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
body{
    margin: 10rem 10rem;
    background: hsl(0, 0%, 81%);
}
.main_container{
    display: grid;
     grid-template-rows: 1fr 1fr  ; 
     grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 63rem;
    height: auto;
    margin: auto;
    gap: 1.5rem;
}
.daniel_container{
    width: 35rem;
    height: 18rem;
    border-radius: 0.7rem;
    background: hsl(263, 55%, 52%);
    grid-column: 1/3;
      box-shadow: 0rem 0rem 0.4rem;
      padding: 1.5rem 1.5rem;
      background-image: url("images/bg-pattern-quotation.svg");
      background-repeat: no-repeat;
      background-position:  24rem top ;
    
}
.daniel_tital{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.daniel_container img{
 border-radius: 100%;
 width: 2rem;
}
.daniel_container h3, span{
    color: white;

}
.daniel_container h2{
    color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
}
.daniel_container p{
    color: white ; 
    font-size: 0.9rem;
    padding-top: 1rem;
}
.jonathan_container{
    width: 15rem;
    height: 18rem;
     padding: 0.7rem 0.9rem;
     border-radius: 0.7rem;
      box-shadow: 0rem 0rem 0.4rem;
    background: hsl(217, 19%, 35%);
}
.jonathan_container img{
    border-radius: 100%;
    width: 2rem;
}
.jonathan_tital{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-top: 1.5rem;

}
.jonathan_container h3{
    color: white;
    font-size: 1rem;

}
.jonathan_container h2{
    color: white;
    font-size: 1.2rem;
    padding: 0.7rem 0.5rem;
}
.jonathan_container p {
    color: white;
    font-size: 0.9rem;
}

.Jeanette_container{
    padding: 1.5rem 1rem;
    height: 18rem;
    width: 15rem;
     border-radius: 0.7rem;
      box-shadow: 0rem 0rem 0.4rem;
    background: hsl(0, 0%, 100%);
}
.Jeanette_container img{
border-radius: 100%;
width: 2rem;
}
.Jeanette_container span{
    color: black;
}
.Jeanette_tital{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
.Jeanette_container h2{
    font-size: 1.3rem;
    padding: 1rem 0rem;
}
.Jeanette_container p{
    font-size: 1rem;
    padding: 0rem 0.5rem;
}
.Patrick_container{
     border-radius: 0.7rem;
      box-shadow: 0rem 0rem 0.4rem;
     grid-column: 2/4;
     background:hsl(219, 29%, 14%) ;
     padding: 1rem 1rem;
     height: 18rem;
    }
    .Patrick_container h3{
        
        color: white;
    }
    .Patrick_container h2{
       padding: 1rem 1rem;
       font-size: 1.2rem;
        color: white;
    }
    .Patrick_container p{
        color: white;
        font-size: 1rem;
    }
    .Patrick_container img{
        border-radius: 100%;
        width: 2rem;
    }
    .Patrick_tital{
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
    }
.kira_container{
     border-radius: 0.7rem;
     box-shadow: 0rem 0rem 0.4rem;
    grid-row: 1/4;
    grid-column: 4;
    padding: 1.5rem 1.2rem;
     width: 15rem;
     height: 37rem;
    background: hsl(0, 0%, 100%);
}
.kira_container img{
border-radius: 100%;
width: 2rem;

}
.kira_tital{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
.kira_container span{
    color: black;
}
.kira_container h2{
    font-size: 1.2rem;
    padding: 1rem 0rem;
}
.kira_container p{
    font-size: 0.9rem;

}
@media (max-width:23.5rem){
.main_container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 1rem;
   /* margin: 0rem 0rem; */
   /* padding: 0rem 0rem; */
    align-items: center;
}
.daniel_container{
    width: 20rem;
    height: auto;
}
.jonathan_container{
    width: 20rem;
    height: 15rem;
}
.Jeanette_container{
    width: 20rem;
    height: auto;
}
.Patrick_container{
    width: 20rem;
    height: auto;
}
.kira_container{
    width: 20rem;
    height: auto;
}

}
